.explore {
  gap: 2.8rem;
  margin-bottom: 7.6rem;
}
.explore img {
  height: auto;
}
.explore-info h2 {
  font-size: 1.375rem;
  text-transform: initial;
  margin-bottom: 1.2rem;
}
.explore-info p {
  font-size: 0.875rem;
  color: var(--type-7);
}

/*  footer */

.footer-bg {
  background-color: var(--bg-3);
}
.footer-intro {
  padding: 2rem 0;
  justify-content: space-between;
}
.intro-img-footer {
  gap: 1rem;
}
.intro-img-footer img {
  transition: 0.4s;
}
.intro-img-footer img:hover {
  transform: translateY(-7px);
}
.intro-seta-footer img {
  height: auto;
  width: auto;
  padding: 0.875rem 0.7rem;
  border: 2px solid var(--type-6);
  transform: rotate(-90deg);
}
.intro-seta-footer img:hover {
  background-color: var(--bg-5);
  transition: 0.8s;
}
.footer span {
  grid-column: 1;
  font-size: 0.875rem;
  color: var(--type-8);
}
.footer-info {
  gap: 1.5rem;
  margin: 0.4rem 0 2.6rem 0;
  align-items: start;
}

.footer-info-list {
  display: grid;
  gap: 4px;
}
.footer-info-list p {
  font-size: 0.875rem;
  color: var(--type-9);
}

.footer-p {
  display: flex;
  font-size: 0.875rem;
  color: var(--type-7);
  max-width: 71%;
  margin-bottom: 1.5rem;
}

.footer-rodape {
  justify-content: space-between;
  padding-bottom: 2.8rem;
}
.footer-rodape img {
  height: auto;
}
.footer-rodape img:hover {
  opacity: 0.5;
  transition: 0.6s;
}
.rodape {
  gap: 1rem;
}
.rodape p {
  font-size: 0.75rem;
}
