.free {
  padding: 3rem 4rem;
  background-color: var(--bg-6);
  border-radius: 0.4rem;
}

.free__heading {
  margin: 0.5rem 0 3rem;
  justify-content: space-between;
  font-size: 1.6rem;
  text-align: center;
}
.free__heading--title {
  gap: 1rem;
}
.fa-gift {
  font-size: 2.5rem;
}
.free__heading--title h4 {
  text-transform: initial;
}

.free__heading .btn-t {
  font-size: 1.2rem;
}

.free__games {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.2rem;
}
.free__games.secundary {
  grid-template-columns: repeat(2, 1fr);
}
.free__games img {
  width: 100%;
  height: auto;
  transition: all 0.3s;
}
.free__games a {
  position: relative;
}
.free__games img:hover {
  opacity: 0.7;
}
.free__games--imgF {
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--type-5);
  z-index: 4;
  width: 100%;
  text-align: center;
  color: var(--type-1);
  font-size: clamp(0.9rem, calc((16.5vw / 10) - 100%), 1.2rem);
  padding: 0.2rem;
}

.free__games--imgF.now {
  background-color: var(--bg-5);
}

.free__games h4 {
  margin: 1.2rem 0;
  font-size: clamp(0.9rem, calc((18vw / 10) - 100%), 1.4rem);
}
.free__games p {
  color: var(--type-2);
  font-size: clamp(0.9rem, calc((18vw / 10) - 100%), 1.4rem);
}

@media (max-width: 57em) {
  .free__heading .btn-t {
    font-size: 1.4rem;
  }
  .free__games--imgF {
    font-size: clamp(0.9rem, calc((21.5vw / 10) - 100%), 1.4rem);
  }
  .free__games h4 {
    font-size: clamp(0.9rem, calc((23vw / 10) - 100%), 1.4rem);
  }
  .free__games p {
    font-size: clamp(0.9rem, calc((23vw / 10) - 100%), 1.4rem);
  }
}

@media (max-width: 47.5em) {
  .free {
    padding: 3rem 1.6rem;
  }
  .free__games {
    gap: 2.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .free__heading--title {
    gap: 3rem;
  }
  .free__heading--title h4 {
    font-size: 2.4rem;
  }

  .free__heading--title .fa-gift {
    font-size: 3rem;
  }
  .free__heading .btn-t {
    font-size: 2rem;
  }
  .free__games h4 {
    margin-top: 2rem;
    font-size: 2.3rem;
  }
  .free__games p {
    font-size: 2rem;
  }
  .free__games--imgF {
    font-size: 2rem;
    padding: 0.4rem;
  }
}
