* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
img {
  max-width: 100%;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  margin: 0 auto;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background: var(--bg-2);
  font-weight: 400;
  color: var(--type-1);
}
.main {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 clamp(5rem, calc(67.5% / 5), 18.1rem);
}
a,
h1,
h2,
h3,
h4 {
  font-weight: 400;
  color: var(--type-1);
  text-transform: uppercase;
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
  .main {
    max-width: 160rem;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .main {
    max-width: 140rem;
  }
}

@media (max-width: 57em) {
  html {
    font-size: 50%;
  }
  .main {
    max-width: 120rem;
    padding: 1.6rem;
  }
}
