* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
img {
  max-width: 100%;
}
ul,
li {
  list-style: none;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background: var(--body-bg);
}
body,
a {
  text-decoration: none;
  color: var(--type-1-light);
}

main {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

a,
h1,
h2,
h3,
h4 {
  font-weight: 400;
  text-transform: capitalize;
}

@media (min-width: 112.5em) {
  html {
    font-size: 71.4287%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 57em) {
  html {
    font-size: 50%;
  }
}
