.header {
  padding: 2rem 2.4em;
  background-color: var(--header-bg);
  font-size: 1.4rem;
}

.header__logo {
  gap: 1.5rem;
  border-right: 2.8px solid var(--type-1-dark);
}

.logo__arrow {
  font-size: 1.1rem;
  color: var(--type-2-dark);
  position: relative;
  padding: 0.5rem 0;
  top: -0.3rem;
  transition: all 0.2s;
}
.logo__arrow:hover {
  color: var(--type-3-light);
}
.header__nav {
  margin-right: auto;
  gap: 1.5rem;
}

.header__nav img {
  height: 1.6rem;
  width: auto;
  margin: 0 0 0 2.2rem;
}

.header__nav-links a {
  padding: 0.6rem 16px;
  border-radius: 0.5rem;
  font-size: 1.4rem;

  color: var(--type-2-dark);
  transition: all 0.2s;
}

.header__nav-links a:hover {
  color: var(--type-3-light);
  background-color: var(--type-3-dark);
}

.header__login {
  gap: 1.5rem;
  text-align: center;
}

.header__login .globe {
  font-size: 1.8rem;
  transition: all 0.2s;
  color: var(--type-2-dark);
}

.header__login .login {
  color: var(--type-2-dark);
  font-size: 1.4rem;
  padding: 0.6rem;
  height: 3rem;
  width: 3rem;
  transition: all 0.2s;
  background-color: var(--type-1-dark);
  border-radius: 50%;
}
.header__login .globe:hover,
.header__login .login:hover {
  color: var(--type-3-light);
}

.btn__download {
  padding: 0.6rem 1.2rem;
  color: var(--type-3-dark);
  background-color: var(--btn-1);
  border-radius: 0.5rem;
  font-weight: 500;
  transition: all 0.2s;
}

.btn__download:hover {
  background-color: var(--btn-2);
}
