/* menu home */
.home {
  margin-top: 2.8rem;
}
.home__menu {
  gap: 1.4rem;
  font-size: clamp(1rem, calc((19.8vw / 10) - 100%), 1.2rem);
  margin-bottom: 3rem;
}
.home__menu a {
  color: var(--type-8);
}
.home__menu a:hover {
  transition: 0.3s;
  color: var(--type-1);
}

.home__menu--search {
  gap: 0.8rem;
}
.home__menu--search input {
  padding: 1rem 10.344rem 1rem 3.6rem;
  border-radius: 20rem;
  background-color: var(--bg-3);
  border: none;
}
.home__menu--search input:focus {
  background-color: var(--bg-6);
  color: var(--type-3);
  outline: 0;
}
.home__menu--search input::placeholder,
.home__menu--search .fa-solid {
  font-size: 1.2rem;
  color: var(--type-8);
}
.home__menu--search .fa-solid {
  position: relative;
  right: -3.7rem;
  top: -0.1rem;
}

/* home info */
.home__content {
  display: grid;
  grid-template-columns: 79.7fr 24.9fr;
}
.home__content--info {
  position: relative;
}
.home__content--info img {
  width: 100%;
  border-radius: 2rem;
}
.home__content--info-text {
  position: absolute;
  max-width: 40.1%;
  margin: 32% 4%;
  bottom: -48%;
}
.home__content--info-text span {
  font-size: max(1rem, 1vw);
}
.home__content--info-text p {
  margin: 0.8rem 0 4rem;
  font-size: max(1rem, 1vw);
  line-height: 1.4vw;
}
.home__content--info-text .btn--white {
  padding: 1.3rem 1.6rem;
  background-color: var(--type-1);
  border-radius: 0.4rem;
  font-size: max(1rem, 1vw);
  color: var(--type-5);
  transition: all 0.3s;
}
.home__content--info-text .btn--white:hover {
  background-color: var(--bg-5);
  color: var(--type-1);
}

/* home games */
.home__content--games-game {
  margin-left: 1.5vw;
}
.home__content--games-game img {
  height: 70%;
  width: 28%;
}

.home__content--games {
  display: grid;
}
.home__content--games-game {
  padding: 0 2.2rem 0 1.3rem;
  gap: 1.6rem;
  border-radius: 1.6rem;
  transition: all 0.2s;
}
.home__content--games-game:hover {
  background-color: var(--bg-4);
}
.home__content--games-game h3 {
  color: var(--type-6);
  text-transform: initial;
  font-size: calc((1.74vw - 90%));
  line-height: 1.6vw;
}
.home__content--mobile {
  display: none;
}
.home__menu-mobile,
.overlay__box,
.overlay__search {
  display: none;
}
/*1200*/

@media (max-width: 75em) {
  .overlay__box {
    display: none;
    position: absolute;
    height: 100%;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 5;
  }
  .overlay__box.active {
    display: block;
  }
  .home__menu {
    display: none;
  }

  .home__menu-mobile {
    display: flex;
    align-items: center;
    margin: 4rem 0;
    justify-content: flex-start;
  }
  .mobile__search {
    background-color: var(--bg-6);
    border-radius: 20rem;
    color: var(--type-3);
    padding: 0.6rem;
    height: 4rem;
    margin-right: 2rem;
  }
  .mobile__search input {
    outline: 0;
    border: none;
    background-color: transparent;
    color: var(--type-1);
  }

  .mobile__search .fa-solid {
    margin: 0 1.3rem;
    color: var(--type-8);
  }
  .menu__box {
    text-align: start;
  }
  .btn__box-text {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  .btn__box {
    transform: uppercase;
    padding: 1rem 1.7rem;
    border: 1px solid transparent;
    color: var(--type-1);
    border-radius: 4px;
    background-color: transparent;
    margin-bottom: 0.5rem;
    position: relative;
    z-index: 6;
  }

  .btn__box:focus {
    border: 1px solid var(--type-1);
  }
  .btn__arrow-box {
    transform: rotate(90deg);
    text-align: center;
    margin-left: 0.7rem;
    font-size: 1.2em;
    transition: all 0.3s;
  }
  .btn__arrow-box span {
    height: 10px;
    width: 10px;
  }

  .menu__nav-box {
    display: none;
    flex-direction: column;
    margin-top: 0.5rem;
    background-color: var(--bg-9);
    padding: 1rem 2rem;
    gap: 0.5rem;
    flex: 0 0 50%;
    border-radius: 2px;
    box-shadow: 0 0.5px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 7;
  }
  .menu__nav-box.active {
    display: flex;
  }

  .menu__nav-box a {
    display: flex;
    width: 12rem;
    opacity: 0.9;
    letter-spacing: 0.2px;
    font-size: 1.2rem;
    color: var(--type-6);
    flex-direction: row;
    padding: 0.5rem 0;
  }
  .btn__box.active .btn__arrow-box {
    transform: rotate(-90deg);
  }
}

@media (max-width: 57em) {
  .mobile__search-input {
    display: none;
  }
  .menu__box {
    text-align: center;
  }
  .home__menu {
    font-size: clamp(1rem, calc((23.8vw / 10) - 100%), 1.5rem);
  }
  .home__menu--search input::placeholder,
  .home__menu--search .fa-solid {
    font-size: 1.5rem;
  }
  .home__content--info-text span {
    font-size: 1.5vw;
  }
  .home__content--info-text p {
    font-size: 1.8vw;
    line-height: 1.4;
  }
  .home__content--info-text {
    max-width: 50.1%;
  }
  .home__content--info-text .btn--white {
    font-size: 1.5vw;
  }

  .home__content--games-game h3 {
    font-size: calc((2.2vw - 90%));
    line-height: 1.9vw;
  }
}

@media (max-width: 47.5em) {
  .home__content,
  .mobile__search input {
    display: none;
  }
  .overlay__search.active {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .search__input-content {
    margin: 0 4rem;
    background-color: var(--bg-6);
    height: 100%;
    align-items: center;
  }
  .search__input-content .fa-solid {
    margin-left: 30px;
    margin-right: 13.62px;
    font-size: 1.7rem;
  }
  .search__input-content .fa-x {
    margin: 0 3rem;
    font-size: 1.7rem;
  }

  .search__input-content input {
    color: var(--type-1);
    border: none;
    background-color: transparent;
    outline: none;
    margin-right: auto;
  }

  .search__input {
    position: absolute;
    background-color: var(--bg-2);
    height: 10rem;
    width: 100%;
    top: 0;
    justify-content: center;
  }

  .home__menu-mobile {
    justify-content: space-around;
  }
  .mobile__search {
    margin: 0 -15vw;
    background-color: transparent;
  }

  .menu__nav-box {
    background-color: var(--bg-2);
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    padding: 2.7rem 3.2rem;
  }
  .overlay__box {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .menu__nav-box a {
    font-size: 1.4rem;
    padding: 1.5rem 0;
    width: 100%;
    text-align: start;
  }
  .menu__nav-box a:not(:first-child) {
    border-top: 1px solid var(--bg-8);
  }
  .home__content--games {
    display: none;
  }

  .home__content--mobile {
    display: flex;
  }
  .wrapper-h {
    position: relative;
  }
  .home__content--mobile-info {
    position: relative;
    flex-shrink: 0;
    width: 90vw;
    max-width: 80rem;
  }
  .home__content--mobile-info:not(:last-child) {
    margin-right: 2rem;
  }

  .home__content--mobile-info img {
    border-radius: 16px;
  }

  .home__content--mobile--info-text {
    position: absolute;
    padding: 3.5rem;
    bottom: 5%;
    width: 70%;
  }
  .home__content--mobile--info-text span {
    font-size: 1.8vw;
    margin-bottom: 1.6rem;
  }
  .home__content--mobile--info-text p {
    font-size: 2.3vw;
    margin-bottom: 2.6rem;
  }

  .home__content--mobile--info-text .btn--white {
    font-size: 2vw;
    padding: 1.3rem 1.6rem;
    background-color: var(--type-1);
    border-radius: 0.4rem;
    color: var(--type-5);
    transition: all 0.3s;
  }
  .home__content--mobile--info-text .btn--white:hover {
    background-color: var(--bg-5);
    color: var(--type-1);
  }
}
