.home {
  margin-top: 1.75rem;
}
.home-menu {
  position: relative;
  left: -1.2rem;
  margin-bottom: 1.75rem;
  gap: 2rem;
}
.home-menu a {
  color: var(--type-4);
  font-size: 0.75rem;
}
.home-menu a:hover {
  transition: 0.3s;
  color: var(--type-1);
}
.input input {
  padding: 0.625rem 2rem 0.625rem 2.5rem;
  border-radius: 200px;
  background: var(--bg-3);
  border: none;
  color: var(--type-1);
}
.input input:hover {
  transition: 0.6s;
  background-color: var(--bg-6);
}
.input input::placeholder {
  color: var(--type-4);
}
.input img {
  position: relative;
  left: 2rem;
  top: -0.09rem;
}

/* home-conteúdo */

.home-conteudo {
  gap: 1.5rem;
}
.conteudo {
  position: relative;
  align-self: start;
}
.conteudo img {
  height: auto;
  border-radius: 8px;
}
.conteudo-info {
  left: 2.4rem;
  top: 8.2rem;
  position: absolute;
}
.conteudo-info p {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: var(--type-1);
}
.conteudo-info p + p {
  max-width: 34ch;
  color: var(--type-1);
  font-size: 1rem;
}
.conteudo-btn {
  display: inline-block;
  margin: 2.5rem 0 2rem;
  padding: 0.825rem 1rem;
  background-color: var(--type-1);
  color: var(--type-5);
  font-size: 1rem;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.conteudo-btn::before {
  content: "";
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  z-index: -1;
  background-color: var(--bg-5);
  transition: 0.8s;
}
.conteudo-btn::after {
  content: "";
  position: absolute;
  height: 0;
  width: 50%;
  z-index: -1;
  right: 0;
  bottom: 0;
  transition: 0.8s;
  background-color: var(--bg-5);
}
.conteudo-btn:hover {
  transition: 0.8s;
  color: var(--type-1);
}
.conteudo-btn:hover::before {
  transition: 0.8s;
  height: 100%;
}
.conteudo-btn:hover::after {
  height: 100%;
  transition: 0.8s;
}
.me .conteudo-lateral {
  display: grid;
  align-self: start;
}
.lateral-game {
  gap: 1rem;
}
.lateral-game {
  padding: 0.81rem 1rem;
  border-radius: 16px;
}
.lateral-game:nth-child(1) {
  background-color: var(--bg-4);
}
.lateral-game img {
  max-width: 3.25rem;
  height: auto;
}
.lateral-game h3 {
  font-size: 1rem;
  line-height: 1.3rem;
  font-style: normal;
}
