.produtos {
  margin-bottom: 5.5rem;
}
.produtos-intro {
  margin: 1.2rem 0;
  justify-content: space-between;
}

.intro-titulo {
  gap: 0.75rem;
}
.intro-titulo h2 {
  font-size: 1.125rem;
}
.intro-img {
  gap: 1rem;
}
.intro-img img {
  height: auto;
  width: auto;
  background-color: var(--bg-4);
  padding: 8px 10px;
  border-radius: 50%;
}

.intro-img img:first-child {
  transform: rotate(180deg);
}

/* games  */

.produtos-games {
  flex: 1;
  gap: 0.75rem;
}
.games img {
  height: auto;
}
.produtos-games div a img:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.games h2 {
  margin: 0.5rem 0;
  text-transform: initial;
  font-size: 0.875rem;
}
.games-preco {
  gap: 0.5rem;
}
.games-preco span {
  font-size: 0.9rem;
}
.games-preco span:first-child {
  padding: 0 0.5rem;
  background-color: var(--bg-5);
  border-radius: 4px;
}
/* itens */

.itens {
  gap: 0.625rem;
  margin-bottom: 5rem;
}
.itens-conteudo {
  padding-bottom: 1rem;
}
.itens-conteudo h2 {
  font-size: 1rem;
}
.itens-conteudo img {
  height: auto;
}
.itens-conteudo img:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.itens-conteudo p {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: var(--type-7);
  line-height: 1.3rem;
}

.itens .itens-conteudo span {
  font-size: 0.9rem;
  position: relative;
  bottom: -0.5rem;
}

/* free games */

.free {
  padding: 1.8rem 2.5rem;
  background-color: var(--bg-6);
  border-radius: 4px;
  margin-bottom: 3rem;
}

.free-intro {
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.free-titulo {
  gap: 0.9rem;
}
.free-titulo h2 {
  font-size: 1.125rem;
}
.free-titulo img {
  max-width: 36px;
  height: auto;
}
.free-intro a {
  color: var(--type-1);
  font-size: 0.9rem;
  padding: 0.5rem 1.125rem;
  border: 1px solid;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.free-intro a::before {
  content: "";
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  z-index: -1;
  background-color: var(--bg-5);
  transition: 0.8s;
}
.free-intro a::after {
  content: "";
  position: absolute;
  height: 0;
  width: 50%;
  z-index: -1;
  right: 0;
  bottom: 0;
  transition: 0.8s;
  background-color: var(--bg-5);
}
.free-intro a:hover::before {
  transition: 0.8s;
  height: 100%;
}
.free-intro a:hover::after {
  height: 100%;
  transition: 0.8s;
}
.free-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.free-img img {
  height: auto;
  width: 100%;
}
.free-img img:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.free-img a {
  display: block;
  position: relative;
  text-transform: initial;
  top: -2rem;
  padding: 0.2rem 0;
  font-size: 1rem;
  text-align: center;
  color: var(--type-1);
  background-color: var(--bg-5);
}
a.free-btn {
  background-color: var(--type-5);
}
.img-info {
  position: relative;
  top: -0.7rem;
}
.img-info h3 {
  text-transform: initial;
  font-weight: 500;
  font-size: 0.9rem;
}
.img-info p {
  font-size: 0.9rem text;
  color: var(--type-2);
  margin-top: 0.3rem;
}
.img-info-h3 {
  text-align: center;
}

/* produtos itens-2 */

.produtos-item-2 {
  gap: 2rem;
  margin-bottom: 3rem;
}
.item-2 img {
  height: auto;
}
.item-2 img:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.item-2 h2 {
  margin-top: 1.875rem;
  text-transform: initial;
  font-size: 1.375rem;
}
.item-2 p {
  margin-top: 0.938rem;
  font-size: 1rem;
  color: var(--type-7);
}

/* section free 2 */

.free-img-2 {
  gap: 2.6rem;
}
.img-conteudo-2 img {
  height: auto;
}
.img-conteudo-2 img:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.img-info-2 h3 {
  margin-top: 1rem;
  font-size: 0.875rem;
  text-transform: initial;
}
.img-info-2 p {
  margin-top: 0.6rem;
  font-size: 0.875rem;
  color: var(--type-2);
}
