.story-p-intro {
  margin-bottom: 3.3rem;
}
.story-p-intro > p {
  color: var(--type-6);
  font-size: 1.275rem;
  margin-bottom: 2.5rem;
}
.story-info {
  flex: 1;
  border-left: 2px solid var(--bg-3);
  padding-left: 1rem;
}
.story-p-info div > p {
  font-size: 1rem;
  color: var(--type-7);
}
.story-info-caracteristicas {
  margin-top: 0.5rem;
  gap: 1rem;
}

.story-info-caracteristicas span {
  color: var(--type-6);
  font-size: 1rem;
}

/* texto */

.story-texto {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 3.3rem;
}
.story-texto h2 {
  font-size: 1.7rem;
  text-transform: initial;
  color: var(--type-6);
}
.story-texto p {
  font-size: 1rem;
  color: var(--type-7);
}

.story-texto-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.625rem;
}
.story-texto-img img {
  height: auto;
  border-radius: 4px;
}
.story-texto-img div:nth-child(3) {
  grid-column: 1/-1;
}
.story-texto-img div:nth-child(3) img {
  width: 100%;
}

/* edições */

.edicoes {
  display: grid;
  gap: 1.275rem;
}
.edicoes-container img {
  height: auto;
}
.edicoes-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.2rem;
  background-color: var(--bg-9);
  border-radius: 4px;
}
.edicoes-container-img {
  width: 100%;
  border-radius: 4px;
}
.container-info-intro {
  gap: 0.8rem;
  margin-bottom: 1rem;
}
.container-info-intro span {
  padding: 5px 10px;
  font-size: 0.8rem;
  color: var(--type-6);
  background: var(--bg-8);
  border-radius: 4px;
}
.container-info-intro h2 {
  color: var(--type-6);
  font-size: 1rem;
  font-weight: initial;
}
.edicoes-container-info {
  padding: 2.4rem 2rem;
}
.edicoes-container-info p {
  font-size: 1rem;
  color: var(--type-12);
}
.edicoes-container-rodape {
  justify-content: end;
  gap: 1.375rem;
  grid-column: 1/-1;
  padding: 1.375rem 2.1rem;
  border-top: 1px solid var(--bg-8);
}

.edicoes-container-rodape a {
  border: 1px solid var(--type-7);
  padding: 0.875rem 2rem;
  text-align: center;
  text-transform: none;
  color: var(--type-1);
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-size: 0.875rem;
}
.btn-container-rodape {
  gap: 0.5rem;
  justify-content: center;
}

.edicoes-container-rodape a::before {
  content: "";
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  z-index: -1;
  background-color: var(--type-10);
  transition: 0.8s;
}
.edicoes-container-rodape a::after {
  content: "";
  position: absolute;
  height: 0;
  width: 50%;
  z-index: -1;
  right: 0;
  bottom: 0;
  transition: 0.8s;
  background-color: var(--type-10);
}
.edicoes-container-rodape a:hover::before {
  transition: 0.8s;
  height: 100%;
}
.edicoes-container-rodape a:hover::after {
  height: 100%;
  transition: 0.8s;
}
.edicoes-container-rodape a:hover {
  transition: 0.8s;
  border: 1px solid var(--type-10);
}
.edicoes-redes {
  margin-top: 3.3rem;
}
.edicoes-redes h2 {
  font-size: 1.375rem;
  text-transform: initial;
  color: var(--type-6);
  margin-bottom: 1rem;
}
.edicoes-redes-img {
  background-color: var(--bg-9);
  margin-bottom: 3.3rem;
  justify-content: center;
  padding: 1.5rem 0;
  border-radius: 4px;
}
.edicoes-redes-img img {
  height: 2.5rem;
  width: auto;
  align-self: center;
  padding: 7px 17px;
  transition: 0.6s;
}
.edicoes-redes-img img:hover {
  animation: alternate edicoes-redes 0.6s infinite;
}
@keyframes edicoes-redes {
  from {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 5px, 0);
  }
}

/* classsifição */

.classificacao {
  display: grid;
  gap: 1.25rem;
}

.classificacao > h2 {
  font-size: 1.375rem;
  text-transform: initial;
  color: var(--type-6);
  margin-bottom: 1rem;
}
.classificacao-intro {
  gap: 1.25rem;
}
.classificacao-intro-info {
  flex-direction: column;
  gap: 0.625rem;
}

.classificacao-intro-info span {
  text-align: center;
  font-size: 0.9rem;
  color: var(--type-6);
  align-self: center;
  position: relative;
  top: -6.6rem;
  left: -0.3rem;
}
circle {
  fill: none;
  width: 20px;
  height: 20px;
  stroke-dasharray: 252;
  transform: rotate(230deg);
  stroke-dashoffset: calc(252 - 236.88);
}
.circle {
  stroke-dasharray: 20%;
  stroke-dashoffset: initial;
}
.classificacao-intro-info p {
  font-size: 1rem;
  color: var(--type-6);
  position: relative;
  top: -4rem;
}

.classificacao-container {
  position: relative;
  top: -3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.3rem;
}
.classificacao-container-info {
  background-color: var(--bg-9);
  padding: 1.25rem;
}
.classificacao-container-info h2 {
  font-size: 1rem;
  color: var(--type-6);
  text-transform: initial;
}
.classificacao-container-info p {
  font-size: 1rem;
  color: var(--type-7);
  margin-top: 1.25rem;
}
.classificacao-container-info .c-c-p {
  margin-bottom: 1.25rem;
  padding-bottom: 1rem;
  margin-top: 0.2rem;
  border-bottom: 1px solid var(--bg-8);
}
.classificacao-container-info span {
  font-size: 1rem;
  color: var(--type-6);
}

/* Especificações */

.especificacoes > h2 {
  font-size: 1.375rem;
  text-transform: initial;
  color: var(--type-6);
  margin-bottom: 1rem;
}
.especificacoes-container,
.especificacoes-termos {
  padding: 2.1rem 4rem;
  background-color: var(--bg-9);
}
.especificacoes-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 1.25rem;
}
.especificacoes-container > h2 {
  grid-column: 1/-1;
  margin-top: 2.1rem;
  padding-bottom: 1.73rem;
  color: var(--type-6);
  font-size: 1rem;
  position: relative;
  border-bottom: 1px solid var(--bg-8);
  cursor: pointer;
}
.especificacoes-container > h2::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 3px;
  top: 3.2rem;
  z-index: 3;
  bottom: 0;
  background-color: var(--type-1);
}
.especificacoes-container > h2:hover::before {
  transition: 0.3s;
  background-color: var(--type-12);
}
.especificacoes-info h3 {
  font-size: 1rem;
  color: var(--type-7);
  text-transform: initial;
}
.especificacoes-info > h3 {
  margin-top: 3.5rem;
  margin-bottom: 2.1rem;
}
.especificacoes-info p {
  font-size: 1rem;
  color: var(--type-6);
  margin-top: 0.5rem;
  margin-bottom: 2.1rem;
}
.especificacoes-info div:last-child p {
  margin-bottom: 0;
}
.especificacoes-termos {
  padding-top: 0;
  margin-bottom: 3.3rem;
}

.especificacoes-termos p {
  padding-top: 2.1rem;
  font-size: 1rem;
  color: var(--type-7);
  border-top: 1px solid var(--bg-8);
  text-align: center;
}

.especificacoes-termos h2 {
  padding-top: 0.625rem;
  font-size: 1rem;
  color: var(--type-6);
  text-align: center;
}
